@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    background: linear-gradient(to bottom,#202020,#1f1f1f);
    height: 100vh;
}

.container__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -80px;
}

.profile__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;

    padding: 20px;
}

.iconimg{
    width: 80px;
    border-radius: 50%;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.username{
    font-size: 30px;
    font-weight: 720;
    color: #868585;
}

hr{
    width: 180px;
    height: 1px;
    border: 1px solid #8685852a;
    margin-top: -20px;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 1em;
    padding: 24px;
    list-style: none;  
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #d1d1d1;
    font-size: clamp(20px,5vw,25px);
    font-weight: 500;

    width: clamp(190px,8vw,200px);
    height: clamp(30px,8vw,35px);
    
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;

    /* backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); */
    
    text-decoration: none;

    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    transition: all 200ms ease, background 200ms ease-in-out;
}

.link:hover{
    transform: scale(1.08);
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;
}
