@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    background: linear-gradient(to bottom,#202020,#1f1f1f);
    min-height: 100vh;
}

main{
    margin-top: 2%;
}

.all__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.iconimg{
    width: 15%;
    border-radius: 15px;
}

.username{
    padding: 50px;
    font-size: 30px;
    font-weight: 750;
}

